body, html {
    margin: 10px;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    display: flex;
    height: 100vh;
}

.neon{
    box-shadow: inset 0px 0px 50px cyan, 0px 0px 30px cyan;
}
.center {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2%;
}

.center h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    width: 200px;
    border: none;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
}
