:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme:dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  box-shadow: inset 0px 0px 30px white, 0px 0px 30px white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px cyan;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 500px; 
    background-position: center; 
    background-size: cover; 
    background-image: url("./assets/background_v2.jpg");
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 500px; 
    background-position: center; 
    background-size: cover; 
    background-image: url("./assets/background_v2.jpg");
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 500px; 
    background-position: center; 
    background-size: cover; 
    background-image: url("./assets/background_v2.jpg");
  }
}

.container {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vh;
}

.neon{
  box-shadow: inset 0px 0px 30px cyan, 0px 0px 30px cyan;
  border-radius: 5%;
}

.center {
  max-width: 70%;
  min-width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex: 1;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.quiz {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.questions {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.question_row {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.list_row {
  width: 80%;
  max-height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.ready{
  width: 60%;
}

.alt {
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.correct {
  
  box-shadow: inset 0px 0px 30px rgb(0, 255, 0), 0px 0px 30px rgb(0, 255, 0);
}

.incorrect {
  
  box-shadow: inset 0px 0px 30px red, 0px 0px 30px red;
}
.score {
  width: 80%;
}
.texto{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.entrada
{
  color: white;
  background-color: rgba(0, 0, 0, .8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 10px;
  width: 200px;
  border: none;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
}

a.button {
  padding: 1px 6px;
  border-radius: 3px;
  color: white;
  background-color: black;
  text-decoration: none;
}

input:focus, button:focus {
  outline: none;
}
